@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

  <!-- about company -->
  <section class="about-company">
    <div class="container">
      <div class="founder">

       @{
            var aboutSectionImage = Model.Value<MediaWithCrops>("aboutSectionImage");
            if (aboutSectionImage != null)
            {
                <img src="@aboutSectionImage.MediaUrl()" alt="">
            }
        }
       
        <div class="blue-box">
          <p class="founder-info">
            <span class="founder-name">@Model.Value("aboutSectionImageName"),</span>
            <span class="founder">@Model.Value("aboutSectionImageTitle")</span>
          </p>
          <p class="founder-quote">"@Model.Value("aboutSectionImageText")"</p>
        </div>
      </div>
      <div class="content">
        <h6>@Model.Value("aboutSectionTitel")</h6>
        <h2>@Model.Value("aboutSectionHeading")</h2>
        <p>@Model.Value("aboutSectionText")</p>
        <a class="btn-black" href="@Model.Value("aboutSectionButtonUrl")">@Model.Value("aboutSectionButtonText") <i class="fa-regular fa-arrow-up-right"></i></a>
        <a class="btn-transparent-without-border" href="#"><i class="fa-sharp fa-regular fa-circle-play"></i> Intro Video</a>
      </div>
    </div>
  </section>
